.home
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 100vh
    
    // background: url('../../images/background.png')
    background-position: center
    background-size: cover
    .logo
        width: 30%
        height: auto
        max-width: 100%
        animation: rotateImage 80s linear infinite
        margin: 2rem
    .homeOptions
        margin: 1rem
        display: flex
        flex-direction: column
        gap: 2rem
        .homeButton
            background: black
            cursor: pointer
            transition: background 0.6s ease
        .homeButton:hover
            color: black
            background: #f1f1f1
            border: 1px solid black

@keyframes rotateImage 
  from 
    transform: rotate(0deg)
  to 
    transform: rotate(360deg)