.play
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 100vh
    background: #f1f1f1
    .lifeAndFlag
        display: flex
        flex-direction: column
        justify-content: center
        margin: 2rem
        gap: 1rem
        .lifes
            display: flex
            justify-content: center
            align-items: center
            gap: 3rem
            .icon
                width: 4rem
                height: auto
                max-width: 100%
                color: red
                margin-right: 1rem
        .img
            display: flex
            justify-content: center
            img
                width: 40%
                height: 100%
                max-width: 100%
    .playForm
        display: flex
        flex-direction: column
        align-items: center
        margin: 1rem
        gap: 2rem
        width: 50vw
        .formInput
            width: 50vw !important
        .formsButtons
            display: flex
            gap: 3rem
            .Playbtn
                background: black
                cursor: pointer
                transition: background 0.6s ease
            .Playbtn:hover
                color: black
                background: #f1f1f1
                border: 1px solid black
        .formsHint
            display: flex
            flex-direction: column
            gap: 1.5rem
            .option
                display: flex
                justify-content: center
                gap: 5rem
                .Playbtn
                    background: black
                    cursor: pointer
                    transition: background 0.6s ease
                    width: 100%
                .Playbtn:hover
                    color: black
                    background: #f1f1f1
                    border: 1px solid black
